.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3e5c8;
}

h1
h2,
h3 {
    font-family: "Young Serif", serif;,
}

p {
    font-family: "Outfit", sans-serif;
    color: #575351;
}

#recipe-card {
    background-color: white;
    margin: 4rem auto;
    width: 735px;
    border-radius: 20px;
    padding: 2.5rem;
}

.recipe-card-content {
    padding: 2.5rem
}

.Omellette-img {
    width: 655px;
    border-radius: 7px;
}

.main-header {
    color: #2a2a27;
    margin: 1rem orem;
}

.preparation-time-container {
    margin: 2rem 0rem;
    background-color: #fff7fc;
    border-radius: 7px;
    padding: 1.5rem 0rem 1.5rem 2rem;
}

.prep-time-heading {
    font-family: "Outfit", sans-serif;
    color: #6f103d;
}

li {
    font-family: "Outfit", sans-serif; 
    margin: 1rem 0rem;
    color: #575351;
}

li::marker {
    color: #6f103d;
}

.bold-text {
    font-weight: bold;
}

.gold-text {
    color: #7e5039;
}

.gold-list li::marker {
    color: #7e5039;
    font-weight: bold;
}
.divider {
    background-color: #e2e2e2;
    height: 1px;
    margin: 2rem 0rem;
}
.nutrition-p {
    margin: 1rem 0rem;
}
.nutrition-table {
    margin-top: 2rem;
}
.nutrition-card {
    display: flex;

}
.macro-p {
    width: 350px;
    padding-left: 2rem;

}
